engine-strict=false
legacy-peer-deps=true
auto-install-peers=true
strict-peer-dependencies=false
prefer-offline=false
package-lock=true
lockfile=true
save-exact=true
node-linker=hoisted
use-node-version=18.20.6
ignore-scripts=false
unsafe-perm=true 