# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Source code
*.js    text diff=javascript
*.jsx   text diff=javascript
*.ts    text diff=typescript
*.tsx   text diff=typescript
*.css   text diff=css
*.html  text diff=html
*.json  text
*.yml   text merge=union
*.yaml  text merge=union

# Documentation
*.md    text diff=markdown
*.txt   text
*.xml   text

# Configs
.env.example text
.gitattributes text
.gitignore text
*.lock text -diff
package.json text eol=lf
package-lock.json text -diff eol=lf

# Graphics
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.svg text

# Ignore files (like .gitignore) from exporting
.gitattributes export-ignore
.gitignore export-ignore 